@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html{
   scroll-behavior: auto;
  scroll-snap-type: y mandatory;
  background-color: #f8f8f8; 
 
}

::-webkit-scrollbar {
  width: 5px;
  
}
::-webkit-scrollbar-thumb {
 background-image: linear-gradient(to right top, #faa40f, #f99805, #f98b00, #f87e00, #f67100); 
  outline: 2px solid rgb(226, 226, 226);
  max-width: 10px;
}

/* ------------------------------------------Global Styles---------------------------------------------------------- */

.App{
  background-color: #F3F6F9;
  max-width: 100vw;
  /* overflow-x: hidden; */
  flex-wrap: wrap;
  color:#606060;
  display: flex;
}

.container{
  width: 80vw;
  max-width: 80vw;
  overflow-x: hidden;
  /* background-color: rgb(255, 238, 0); */
  max-height:100vh;
  overflow-y: scroll;
  margin-left: 20vw;
}

.container::-webkit-scrollbar {
  display: none;
}

.lg-container{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  /* background-color: chartreuse; */
}

.md-container{
  width:70%;
  /* background-color: blueviolet; */
}

.md-container-1{
  width: 50%;
}

.sm-container{
  width: 30%;
  /* background-color: blue; */
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
}

.title{
  font-size: 18px;
  font-weight: 500;
}

.big-title{
  font-size: 32px;
  color: #707070;
  text-align: center;
  width: 100%;
  margin: 40px 0px;
}

.big-title-1{
  font-size: 32px;
  color: #707070;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.sm-title{
  font-size: 24px;
  color: #707070;
  text-align: center;
  width: 100%;
}
/* .MuiBadge-badge{
  
  background-color: blue;
  overflow: hidden;
}

.MuiBadge-dot{
  width: 20px;
  min-height: 20px;
  border-radius: 50%;
} */


@media (min-width:1500px){
  .md-container{
    width:75%;
    /* background-color: blueviolet; */
  }
  
  .sm-container{
    width: 25%;
    /* background-color: blue; */
  }
}

@media (min-width:1700px){
  .md-container-1{
    width: 60%;
    
  }
}